.photo-loop {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4; /* Added line-height to improve spacing */
}

.overlay-text h1 {
    line-height: 1.2; /* Adjust line-height for the heading */
    margin-bottom: 0.5rem; /* Add margin to the bottom of the heading */
}

.overlay-text p {
    line-height: 1.5; /* Adjust line-height for the paragraph */
    margin-bottom: 1rem; /* Add margin to the bottom of the paragraph */
}

@media (min-width: 768px) {
    .photo-loop video {
        display: none;
    }
}

@media (max-width: 767px) {
    .photo-loop img {
        display: none;
    }
}