.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .navbar img {
    height: 3rem; /* Adjust the height as necessary */
    object-fit: contain;
}

.navbar .fa.fa-bars {
  font-size: 2rem; /* Adjust size as needed */
  padding: 0.5rem; /* Optional: Add padding to make it easier to click */
}


.navbar button {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the icon to the right */
  width: 100%; /* Ensure it takes the full width of the container */
}

.hamburger-icon {
  font-size: 2rem; /* Adjust the size as needed */
}


/* Underline effect for active navigation link */

.navbar {
    position: relative;
    justify-content: space-around;
}

.navbar a {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

/* Navbar Styles */
.navbar a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.navbar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background: #000;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:not(.active)::after {
    width: 0;
}
